
<h1 id="Pandas-기초연습문제">Pandas 기초연습문제<a class="anchor-link" href="https://eclass2.ajou.ac.kr/bbcswebdav/pid-698126-dt-content-rid-10115455_1/courses/2020U00020032020084481/Pandas_exercise.html#Pandas-%EA%B8%B0%EC%B4%88%EC%97%B0%EC%8A%B5%EB%AC%B8%EC%A0%9C">¶</a></h1><hr/>

In [1]:
import pandas as pd


<h3 id="1.-딕셔너리를-이용하여-아래와-같은-모양이-되도록-data-frame을-생성하시오.">1. 딕셔너리를 이용하여 아래와 같은 모양이 되도록 data frame을 생성하시오.<a class="anchor-link" href="https://eclass2.ajou.ac.kr/bbcswebdav/pid-698126-dt-content-rid-10115455_1/courses/2020U00020032020084481/Pandas_exercise.html#1.-%EB%94%95%EC%85%94%EB%84%88%EB%A6%AC%EB%A5%BC-%EC%9D%B4%EC%9A%A9%ED%95%98%EC%97%AC-%EC%95%84%EB%9E%98%EC%99%80-%EA%B0%99%EC%9D%80-%EB%AA%A8%EC%96%91%EC%9D%B4-%EB%90%98%EB%8F%84%EB%A1%9D-data-frame%EC%9D%84-%EC%83%9D%EC%84%B1%ED%95%98%EC%8B%9C%EC%98%A4.">¶</a></h3><p><img src="./Pandas Exercise (1)_files/pandasEx.png"/></p>

In [2]:
score={'학번':[201524213,201621223,201621233, 201611111, 201722222],
       '이름':['오지환','박용택','정성훈', '다니엘', '지민'],
       '학과':['경영정보','경영정보','경영정보','컴퓨터공학','컴퓨터공학'],
       'Quiz':[15,20,10,17,18],
       '중간고사':[20,20,15,18,16]}

df= pd.DataFrame(score)
# column 이름: 값의 dict 형태를 pd.DataFrame을 이용하여 dataframe으로 만들어 준다.
# 이때, 데이터 행의 갯수는 같아야 하므로 값의 갯수가 같아야 한다.
df

          학번   이름     학과  Quiz  중간고사
0  201524213  오지환   경영정보    15    20
1  201621223  박용택   경영정보    20    20
2  201621233  정성훈   경영정보    10    15
3  201611111  다니엘  컴퓨터공학    17    18
4  201722222   지민  컴퓨터공학    18    16

In [3]:
df['학번'] #'학번'컬럼의 값들을 가져온다. series 형태

0    201524213
1    201621223
2    201621233
3    201611111
4    201722222
Name: 학번, dtype: int64


<h3 id="2.-위에서-생성한-데이터프레임으로부터-인덱싱을-이용하여-이름과-중간고사를-추출하시오.">2. 위에서 생성한 데이터프레임으로부터 인덱싱을 이용하여 이름과 중간고사를 추출하시오.<a class="anchor-link" href="https://eclass2.ajou.ac.kr/bbcswebdav/pid-698126-dt-content-rid-10115455_1/courses/2020U00020032020084481/Pandas_exercise.html#2.-%EC%9C%84%EC%97%90%EC%84%9C-%EC%83%9D%EC%84%B1%ED%95%9C-%EB%8D%B0%EC%9D%B4%ED%84%B0%ED%94%84%EB%A0%88%EC%9E%84%EC%9C%BC%EB%A1%9C%EB%B6%80%ED%84%B0-%EC%9D%B8%EB%8D%B1%EC%8B%B1%EC%9D%84-%EC%9D%B4%EC%9A%A9%ED%95%98%EC%97%AC-%EC%9D%B4%EB%A6%84%EA%B3%BC-%EC%A4%91%EA%B0%84%EA%B3%A0%EC%82%AC%EB%A5%BC-%EC%B6%94%EC%B6%9C%ED%95%98%EC%8B%9C%EC%98%A4.">¶</a></h3>

In [4]:
df[['이름', '중간고사']] #여러 개의 컬럼 값들을 가져오려면 이중리스트를 통해 가져온다. dataframe 형태.

    이름  중간고사
0  오지환    20
1  박용택    20
2  정성훈    15
3  다니엘    18
4   지민    16


<h3 id="3.-reindex를-이용하여-2,-0,-4,-1,-3-순으로-순서를-변경하시오.">3. reindex를 이용하여 2, 0, 4, 1, 3 순으로 순서를 변경하시오.<a class="anchor-link" href="https://eclass2.ajou.ac.kr/bbcswebdav/pid-698126-dt-content-rid-10115455_1/courses/2020U00020032020084481/Pandas_exercise.html#3.-reindex%EB%A5%BC-%EC%9D%B4%EC%9A%A9%ED%95%98%EC%97%AC-2,-0,-4,-1,-3-%EC%88%9C%EC%9C%BC%EB%A1%9C-%EC%88%9C%EC%84%9C%EB%A5%BC-%EB%B3%80%EA%B2%BD%ED%95%98%EC%8B%9C%EC%98%A4.">¶</a></h3>

In [5]:
df = df.reindex([2, 0, 4, 1, 3]) #reindex > index 순서를 dataframe 원형의 index 넘버를 새로 지정하여 바꿔준다.
df

          학번   이름     학과  Quiz  중간고사
2  201621233  정성훈   경영정보    10    15
0  201524213  오지환   경영정보    15    20
4  201722222   지민  컴퓨터공학    18    16
1  201621223  박용택   경영정보    20    20
3  201611111  다니엘  컴퓨터공학    17    18


<h3 id="4.-iloc과-loc을-각각-이용하여-박용택-학생의-record를-추출하시오.-(iloc으로-한번,-loc으로-한번-수행)">4. iloc과 loc을 각각 이용하여 박용택 학생의 record를 추출하시오. (iloc으로 한번, loc으로 한번 수행)<a class="anchor-link" href="https://eclass2.ajou.ac.kr/bbcswebdav/pid-698126-dt-content-rid-10115455_1/courses/2020U00020032020084481/Pandas_exercise.html#4.-iloc%EA%B3%BC-loc%EC%9D%84-%EA%B0%81%EA%B0%81-%EC%9D%B4%EC%9A%A9%ED%95%98%EC%97%AC-%EB%B0%95%EC%9A%A9%ED%83%9D-%ED%95%99%EC%83%9D%EC%9D%98-record%EB%A5%BC-%EC%B6%94%EC%B6%9C%ED%95%98%EC%8B%9C%EC%98%A4.-(iloc%EC%9C%BC%EB%A1%9C-%ED%95%9C%EB%B2%88,-loc%EC%9C%BC%EB%A1%9C-%ED%95%9C%EB%B2%88-%EC%88%98%ED%96%89)">¶</a></h3>

* iloc: 위치 기반
* loc: 명칭 기반

In [6]:
print(df, '\n') #reindex된 df
print(df.iloc[3], '\n') # iloc: '위치정보'를 기반으로 가져온다. 현재 df의 '박용택'정보는 indexing 3의 위치에 있기 때문에 iloc[3]을 써준다.
print(df.loc[1])#loc: '명칭기반'으로 값을 추출한다.박용택은 index 1의 명칭으로 지정되어 있기 때문에, loc[1]로 가져온다.

          학번   이름     학과  Quiz  중간고사
2  201621233  정성훈   경영정보    10    15
0  201524213  오지환   경영정보    15    20
4  201722222   지민  컴퓨터공학    18    16
1  201621223  박용택   경영정보    20    20
3  201611111  다니엘  컴퓨터공학    17    18

학번      201621223
이름            박용택
학과           경영정보
Quiz           20
중간고사           20
Name: 1, dtype: object

학번      201621223
이름            박용택
학과           경영정보
Quiz           20
중간고사           20
Name: 1, dtype: object


<h3 id="5.-iloc과-loc을-각각-이용하여-모든-학생의-이름과-중간고사-점수를-추출하시오.-(iloc으로-한번,-loc으로-한번-수행)">5. iloc과 loc을 각각 이용하여 모든 학생의 이름과 중간고사 점수를 추출하시오. (iloc으로 한번, loc으로 한번 수행)<a class="anchor-link" href="https://eclass2.ajou.ac.kr/bbcswebdav/pid-698126-dt-content-rid-10115455_1/courses/2020U00020032020084481/Pandas_exercise.html#5.-iloc%EA%B3%BC-loc%EC%9D%84-%EA%B0%81%EA%B0%81-%EC%9D%B4%EC%9A%A9%ED%95%98%EC%97%AC-%EB%AA%A8%EB%93%A0-%ED%95%99%EC%83%9D%EC%9D%98-%EC%9D%B4%EB%A6%84%EA%B3%BC-%EC%A4%91%EA%B0%84%EA%B3%A0%EC%82%AC-%EC%A0%90%EC%88%98%EB%A5%BC-%EC%B6%94%EC%B6%9C%ED%95%98%EC%8B%9C%EC%98%A4.-(iloc%EC%9C%BC%EB%A1%9C-%ED%95%9C%EB%B2%88,-loc%EC%9C%BC%EB%A1%9C-%ED%95%9C%EB%B2%88-%EC%88%98%ED%96%89)">¶</a></h3>

In [7]:
print(df.iloc[:, [1, 4]], '\n') # 모든 행, 지정된 컬럼 인덱스 값 추출
print(df.loc[:, ['이름', '중간고사']]) # 모든 행, 지정된 컬럼 이름 값 추출

    이름  중간고사
2  정성훈    15
0  오지환    20
4   지민    16
1  박용택    20
3  다니엘    18

    이름  중간고사
2  정성훈    15
0  오지환    20
4   지민    16
1  박용택    20
3  다니엘    18


<h3 id="6.-중간고사-점수의-평균을-구하시오.">6. 중간고사 점수의 평균을 구하시오.<a class="anchor-link" href="https://eclass2.ajou.ac.kr/bbcswebdav/pid-698126-dt-content-rid-10115455_1/courses/2020U00020032020084481/Pandas_exercise.html#6.-%EC%A4%91%EA%B0%84%EA%B3%A0%EC%82%AC-%EC%A0%90%EC%88%98%EC%9D%98-%ED%8F%89%EA%B7%A0%EC%9D%84-%EA%B5%AC%ED%95%98%EC%8B%9C%EC%98%A4.">¶</a></h3>

In [8]:
df['중간고사'].mean() #.mean(): 평균

17.8


<h3 id="7.-중간고사-점수가-가장-낮은-학생의-index를-구하시오.">7. 중간고사 점수가 가장 낮은 학생의 index를 구하시오.<a class="anchor-link" href="https://eclass2.ajou.ac.kr/bbcswebdav/pid-698126-dt-content-rid-10115455_1/courses/2020U00020032020084481/Pandas_exercise.html#7.-%EC%A4%91%EA%B0%84%EA%B3%A0%EC%82%AC-%EC%A0%90%EC%88%98%EA%B0%80-%EA%B0%80%EC%9E%A5-%EB%82%AE%EC%9D%80-%ED%95%99%EC%83%9D%EC%9D%98-index%EB%A5%BC-%EA%B5%AC%ED%95%98%EC%8B%9C%EC%98%A4.">¶</a></h3>

In [9]:
df['중간고사'].idxmin() #idxmin(): 최솟값의 index 넘버 가져오기

2


<h3 id="8.-퀴즈-점수가-가장-높은-학생의-학번을-구하시오.">8. 퀴즈 점수가 가장 높은 학생의 학번을 구하시오.<a class="anchor-link" href="https://eclass2.ajou.ac.kr/bbcswebdav/pid-698126-dt-content-rid-10115455_1/courses/2020U00020032020084481/Pandas_exercise.html#8.-%ED%80%B4%EC%A6%88-%EC%A0%90%EC%88%98%EA%B0%80-%EA%B0%80%EC%9E%A5-%EB%86%92%EC%9D%80-%ED%95%99%EC%83%9D%EC%9D%98-%ED%95%99%EB%B2%88%EC%9D%84-%EA%B5%AC%ED%95%98%EC%8B%9C%EC%98%A4.">¶</a></h3>

In [10]:
df.loc[df['Quiz'].idxmax(), '학번']
#df.loc[df['Quiz'].idxmax()]['학번']

201621223


<h3 id="9.-위-데이터프레임의-각-열에-대해서-개수,-평균,-표준편차,-최소최대값-등의-다양한-통계량을-출력하시오.">9. 위 데이터프레임의 각 열에 대해서 개수, 평균, 표준편차, 최소최대값 등의 다양한 통계량을 출력하시오.<a class="anchor-link" href="https://eclass2.ajou.ac.kr/bbcswebdav/pid-698126-dt-content-rid-10115455_1/courses/2020U00020032020084481/Pandas_exercise.html#9.-%EC%9C%84-%EB%8D%B0%EC%9D%B4%ED%84%B0%ED%94%84%EB%A0%88%EC%9E%84%EC%9D%98-%EA%B0%81-%EC%97%B4%EC%97%90-%EB%8C%80%ED%95%B4%EC%84%9C-%EA%B0%9C%EC%88%98,-%ED%8F%89%EA%B7%A0,-%ED%91%9C%EC%A4%80%ED%8E%B8%EC%B0%A8,-%EC%B5%9C%EC%86%8C%EC%B5%9C%EB%8C%80%EA%B0%92-%EB%93%B1%EC%9D%98-%EB%8B%A4%EC%96%91%ED%95%9C-%ED%86%B5%EA%B3%84%EB%9F%89%EC%9D%84-%EC%B6%9C%EB%A0%A5%ED%95%98%EC%8B%9C%EC%98%A4.">¶</a></h3>

In [11]:
df.describe() #.describe(): 데이터프레임의 개수, 평균, 표준편차, 최소최댓값 등 요약 정보를 제공한다.

                 학번       Quiz       중간고사
count  5.000000e+00   5.000000   5.000000
mean   2.016200e+08  16.000000  17.800000
std    7.018995e+04   3.807887   2.280351
min    2.015242e+08  10.000000  15.000000
25%    2.016111e+08  15.000000  16.000000
50%    2.016212e+08  17.000000  18.000000
75%    2.016212e+08  18.000000  20.000000
max    2.017222e+08  20.000000  20.000000


<h3 id="10.-위-데이터프레임을-중간고사-점수에-따라-내림차순으로-정렬하시오.">10. 위 데이터프레임을 중간고사 점수에 따라 내림차순으로 정렬하시오.<a class="anchor-link" href="https://eclass2.ajou.ac.kr/bbcswebdav/pid-698126-dt-content-rid-10115455_1/courses/2020U00020032020084481/Pandas_exercise.html#10.-%EC%9C%84-%EB%8D%B0%EC%9D%B4%ED%84%B0%ED%94%84%EB%A0%88%EC%9E%84%EC%9D%84-%EC%A4%91%EA%B0%84%EA%B3%A0%EC%82%AC-%EC%A0%90%EC%88%98%EC%97%90-%EB%94%B0%EB%9D%BC-%EB%82%B4%EB%A6%BC%EC%B0%A8%EC%88%9C%EC%9C%BC%EB%A1%9C-%EC%A0%95%EB%A0%AC%ED%95%98%EC%8B%9C%EC%98%A4.">¶</a></h3>

In [12]:
df.sort_values('중간고사', ascending=False) #sort_values(): 값 정렬 / ascending: 오름차순
#False이므로 '중간고사'컬럼 값 기준 내림차순으로 정렬한다.

          학번   이름     학과  Quiz  중간고사
0  201524213  오지환   경영정보    15    20
1  201621223  박용택   경영정보    20    20
3  201611111  다니엘  컴퓨터공학    17    18
4  201722222   지민  컴퓨터공학    18    16
2  201621233  정성훈   경영정보    10    15


<h3 id="11.-학생-중에서-퀴즈-점수가-평균-이상인-학생들의-이름을-출력하시오.">11. 학생 중에서 퀴즈 점수가 평균 이상인 학생들의 이름을 출력하시오.<a class="anchor-link" href="https://eclass2.ajou.ac.kr/bbcswebdav/pid-698126-dt-content-rid-10115455_1/courses/2020U00020032020084481/Pandas_exercise.html#11.-%ED%95%99%EC%83%9D-%EC%A4%91%EC%97%90%EC%84%9C-%ED%80%B4%EC%A6%88-%EC%A0%90%EC%88%98%EA%B0%80-%ED%8F%89%EA%B7%A0-%EC%9D%B4%EC%83%81%EC%9D%B8-%ED%95%99%EC%83%9D%EB%93%A4%EC%9D%98-%EC%9D%B4%EB%A6%84%EC%9D%84-%EC%B6%9C%EB%A0%A5%ED%95%98%EC%8B%9C%EC%98%A4.">¶</a></h3>

In [13]:
quiz_mean = df['Quiz'].mean() # 퀴즈 점수 칼럼의 평균을 구한다.
df[df['Quiz'] > quiz_mean]['이름'] # 퀴즈 점수 평균보다 큰 값을 가지는 데이터 프레임의 '이름'칼럼 값을 구한다.

#[df['Quiz'] > quiz_mean] > boolean으로 나온다.

4     지민
1    박용택
3    다니엘
Name: 이름, dtype: object


<h3 id="12.-학생-중에서-퀴즈와-중간고사-점수-모두-평균-이상인-학생들의-record를-출력하시오.">12. 학생 중에서 퀴즈와 중간고사 점수 모두 평균 이상인 학생들의 record를 출력하시오.<a class="anchor-link" href="https://eclass2.ajou.ac.kr/bbcswebdav/pid-698126-dt-content-rid-10115455_1/courses/2020U00020032020084481/Pandas_exercise.html#12.-%ED%95%99%EC%83%9D-%EC%A4%91%EC%97%90%EC%84%9C-%ED%80%B4%EC%A6%88%EC%99%80-%EC%A4%91%EA%B0%84%EA%B3%A0%EC%82%AC-%EC%A0%90%EC%88%98-%EB%AA%A8%EB%91%90-%ED%8F%89%EA%B7%A0-%EC%9D%B4%EC%83%81%EC%9D%B8-%ED%95%99%EC%83%9D%EB%93%A4%EC%9D%98-record%EB%A5%BC-%EC%B6%9C%EB%A0%A5%ED%95%98%EC%8B%9C%EC%98%A4.">¶</a></h3>

In [14]:
quiz_mean = df['Quiz'].mean()
mid_mean = df['중간고사'].mean()
df[(df['Quiz'] > quiz_mean) & (df['중간고사'] > mid_mean)] 
# &을 통해 두개의 조건이 동시에 만족하는 데이터프레임을 구한다.

          학번   이름     학과  Quiz  중간고사
1  201621223  박용택   경영정보    20    20
3  201611111  다니엘  컴퓨터공학    17    18


<h3 id="13.-value_counts를-이용하여-학과-별로-학생의-수를-구하시오.">13. value_counts를 이용하여 학과 별로 학생의 수를 구하시오.<a class="anchor-link" href="https://eclass2.ajou.ac.kr/bbcswebdav/pid-698126-dt-content-rid-10115455_1/courses/2020U00020032020084481/Pandas_exercise.html#13.-value_counts%EB%A5%BC-%EC%9D%B4%EC%9A%A9%ED%95%98%EC%97%AC-%ED%95%99%EA%B3%BC-%EB%B3%84%EB%A1%9C-%ED%95%99%EC%83%9D%EC%9D%98-%EC%88%98%EB%A5%BC-%EA%B5%AC%ED%95%98%EC%8B%9C%EC%98%A4.">¶</a></h3>

In [15]:
df['학과'].value_counts() # '학과'컬럼 값의 수를 요약해서 보여준다.

경영정보     3
컴퓨터공학    2
Name: 학과, dtype: int64


<h3 id="14.-groupby를-이용하여-학과-별로-중간고사의-평균을-구하시오.">14. groupby를 이용하여 학과 별로 중간고사의 평균을 구하시오.<a class="anchor-link" href="https://eclass2.ajou.ac.kr/bbcswebdav/pid-698126-dt-content-rid-10115455_1/courses/2020U00020032020084481/Pandas_exercise.html#14.-groupby%EB%A5%BC-%EC%9D%B4%EC%9A%A9%ED%95%98%EC%97%AC-%ED%95%99%EA%B3%BC-%EB%B3%84%EB%A1%9C-%EC%A4%91%EA%B0%84%EA%B3%A0%EC%82%AC%EC%9D%98-%ED%8F%89%EA%B7%A0%EC%9D%84-%EA%B5%AC%ED%95%98%EC%8B%9C%EC%98%A4.">¶</a></h3>

In [16]:
df.groupby('학과')['중간고사'].mean() 
#groupby(A)[B]~ > A별로 B의 ~을 보여준다.

학과
경영정보     18.333333
컴퓨터공학    17.000000
Name: 중간고사, dtype: float64

In [17]:
df.mean() # df의 평균들을 컬럼별로 보여준다.

학번      201620000.4
Quiz           16.0
중간고사           17.8
dtype: float64

In [18]:
list(df.groupby('학과')) #학과별로 그룹화 지은 것을 list로 나눠서 보여준다.
# [(학과 이름1,값들), (학과 이름2, 값들) ]

[('경영정보',
            학번   이름    학과  Quiz  중간고사
  2  201621233  정성훈  경영정보    10    15
  0  201524213  오지환  경영정보    15    20
  1  201621223  박용택  경영정보    20    20),
 ('컴퓨터공학',
            학번   이름     학과  Quiz  중간고사
  4  201722222   지민  컴퓨터공학    18    16
  3  201611111  다니엘  컴퓨터공학    17    18)]